# -*-shell-*-
aclocal.m4
autom4te.cache/
config.h.in
config.log
config.status
configure
config/*
config.h
*~
libtool
Makefile.in
Makefile
stamp-h1
.deps
*.o
moc_*.cpp
qrc_*.cpp
extr/phaseextract
fkoe/fkoe
hdf5tools/genesis2phase_hdf5
hdf5tools/genesis_hdf5_2wave
hdf5tools/wave2genesis_hdf5
hdf5tools/wave2phase_hdf5
phasesrv/phasesrv
*TAGS